/* font */

/* Montserrat - 400, 500 , 600 , 700 , 800, 900 */

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/montserrat-v24-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v24-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* utils */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.grid__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.heading {
  font-weight: 700;
  font-size: 31px;
  line-height: 1.2;
  color: #36383f;
  margin-bottom: 20px;
}

.section__padding {
  padding: 60px 0;
}

/* HEADER start */
.header {
}

/* HEADER top start */

.header__top {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f4f5f8;
}

.header__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-location {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-icon {
  margin-right: 5px;
}
.header__top-location-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #36383f;
}
.header__top-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-list-item:not(:last-child) {
  margin-right: 20px;
}
.header__top-list-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #6e7284;
}
.header__top-call {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-call-icon {
  margin-right: 10px;
}
.header__top-call-number {
  margin-right: 20px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #36383f;
}
.header__top-call-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #4788ff;
}

/* HEADER top end */

/* HEADER center start */

.header__center {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__center-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__center-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__center-logo-image {
  display: inline-block;
  width: 260px;
  height: 62px;
}
.header__center-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__center-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #dedfe7;
  border-radius: 12px;
  padding: 14px;
  width: 518px;

  margin-right: 10px;
}
.header__center-search-btn {
  outline: none;
  background: transparent;
  border: none;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.header__center-search-btn:active {
  transform: scale(0.9);
}

.header__center-search-input {
  outline: none;
  background: transparent;
  border: none;
}

.header__center-search-input::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 17px;
  color: #6e7284;
}

.header__center-icon {
  border: 1px solid #dedfe7;
  border-radius: 12px;
}

.header__heart,
.header__trand {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.header__cart {
  width: 146px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__center-cart-wrapper {
  margin-left: 12px;
}
.header__center-cart-count {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #6e7284;
}
.header__center-cart-check {
  font-size: 11px;
  line-height: 13px;
  color: #a3a6b2;
}

.header__icons {
  display: flex;
}

/* HEADER center end */

/* HEADER bottom start */

.header__bottom {
  background: #0a4ecb;
  color: #fff;
}

.header__bottom a {
  color: inherit;
}

.header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-burger-wrapper {
  background: #04358f;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 34px;
}
.header__bottom-burger-icon {
  margin-right: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.header__bottom-burger-title {
  margin-right: 14px;
}
.header__bottom-burger-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__bottom-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__bottom-list-item {
  margin-right: 30px;
}
.header__bottom-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header__bottom-list-item:last-child a {
  color: #fffa2f;
}

/* HEADER bottom end */

/* HEADER end */

/* MAIN start */
.main {
  background: #f3f1f1;
}
/* MAIN end */

/* SHOWCASE start */

.showcase {
  padding-top: 20px;
  padding-bottom: 60px;
}
.showcase__container {
  display: grid;
  gap: 1.4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.showcase__card {
  border-radius: 12px;
}
.showacase__card--one {
  background: url(../image/showcaseone.jpg) no-repeat center / cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  max-width: 780px;

  padding: 60px 250px 90px 50px;
}
.showcase__card-heading {
  margin-bottom: 20px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #36383f;
}
.showcase__card-heading--blue {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;

  background: linear-gradient(90deg, #0a4ecb 0%, #4788ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.showcase__card-text {
  font-size: 15px;
  line-height: 24px;
  color: #36383f;
  margin-bottom: 40px;
}
.showcase__card-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #0a4ecb;
}
.showcase__card-btn--yellow {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #f04716 0%, #ffc62f 100%);
  border-radius: 12px;
  padding: 20px 36px;
}

.showcase__card-btn:hover {
  opacity: 0.8;
}

.showacase__card--two {
  background: url(../image/bg1.png) no-repeat center / cover;
  padding: 30px 100px 30px 30px;
}
.showacase__card--three {
  background: url(../image/bg2.png) no-repeat center / cover;
  padding: 30px 100px 30px 30px;
}

/* SHOWCASE end */

/* PRODUCT start */
.product__card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 20px 30px 20px;
  transition: all 0.5s ease;
}

.product__card:hover {
  box-shadow: 0px 15px 25px rgba(48, 63, 115, 0.15);
  cursor: pointer;
}

.product__image {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.product__title {
  font-size: 15px;
  line-height: 24px;
  color: #36383f;
  margin-bottom: 28px;
}
.porduct__cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price {
  font-size: 21px;
  line-height: 26px;
  color: #36383f;
}
.product__cart-image {
}
.product__discount {
  font-size: 15px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a3a6b2;
}
/* PRODUCT end */

/* WALL start */
.wall {
  padding-bottom: 60px;
}
.wall__container {
}
.wall__heading {
}

/* WALL end */

/* CATALOG start */

.catalog {
  padding-bottom: 90px;
}

.catalog__container {
}

.catalog__heading {
}

.catalog__card {
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 280px;
  height: 230px;
}
.catalog__card-image {
  max-width: 110px;
  margin-bottom: 15px;
  display: inline-block;
}
.catalog__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #36383f;
}

/* CATALOG end */

/* COMPANY start */

.company {
}
.company__container {
}

.heading {
}
.company__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.company__text {
  font-size: 18px;
  line-height: 24px;
  color: #36383f;
  max-width: 780px;
}
.company__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #0a4ecb;
}

.company__card {
  width: 280px;
  height: 140px;

  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 45px 25px; */
}
.comany__card-image {
  max-width: 60px;
  margin-right: 25px;
  margin-left: 30px;
}
.company__card-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #36383f;
}
.company__gallery-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex: 1;
}

.company__gallery div:first-child {
  grid-column: 1 / 5;
}

.company__gallery-image {
  width: 100%;
}
.company__content {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
  margin-left: 20px;
}
.company__content-list {
  list-style: disc;
}
.company__content-list-item {
  font-size: 15px;
  line-height: 24px;
  color: #6e7284;
  margin-bottom: 20px;
}

/* COMPANY end */

/* FOOTER start */
.footer {
}
.footer__top {
  background: #1d1e22;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.footer__top-title {
  font-weight: 300;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer__top-list {
}
.footer__top-list-item {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;
}
.footer__social-media-wrapper {
}
.footer__social-media-title {
  color: #bbb;
  margin-bottom: 11px;
}
.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__social-list-item {
  margin-right: 12px;
}
.footer__social-list-link {
}
.footer__social-image {
}
.footer__bottom {
  background: #111112;
  padding-top: 39px;
  padding-bottom: 39px;
  color: #fff;
}
.footer__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo-wrapper {
}
.footer__logo {
}
.footer__bottom-text {
}
/* FOOTER end */

/* MEDIA */

/* 1350px */
@media screen and (max-width: 1350px) {
  .header__center-icon {
    display: none;
  }

  .header__bottom-list-item {
    margin-right: 20px;
  }

  .showcase__card {
    padding: 30px;
  }
}
/* 1250px */

@media screen and (max-width: 1250px) {
  .header__top-call {
    display: none;
  }

  .header__bottom-list-item {
    margin-right: 5px;
  }

  .grid__row {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1150px */

@media screen and (max-width: 1150px) {
  .header__bottom-container {
    flex-direction: column;
  }

  .header__bottom-burger-wrapper {
    margin-bottom: 15px;
    width: 100%;
  }

  .header__bottom {
    padding-bottom: 20px;
  }
}

/* 1050px */

@media screen and (max-width: 1050px) {
  .header__center-input-wrapper {
    width: 100%;
  }

  .showcase__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .company__gallery-wrapper {
    flex-direction: column;
  }

  .company__content {
    margin-top: 25px;
    margin-left: 0;
  }
}
/* 950px */
@media screen and (max-width: 950px) {
  .header__top-container {
    flex-direction: column;
  }

  .header__top-call {
    display: flex;
  }

  .header__top-location,
  .header__top-list {
    margin-bottom: 10px;
  }

  .header__bottom-list {
    flex-direction: column;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }

  .grid__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 750px */

@media screen and (max-width: 750px) {
  .header__top-list {
    flex-direction: column;
  }

  .header__top-list-item {
    margin-right: 0 !important;
  }

  .header__center-container,
  .header__center-form {
    flex-direction: column;
  }

  .header__center-icon {
    display: flex;
  }

  .header__center-logo,
  .header__center-input-wrapper {
    margin-bottom: 16px;
  }

  .showcase__container {
    grid-template-columns: 1fr;
  }

  .showacase__card--one {
    grid-column: 1 / 2;
  }

  .showcase__card-heading--blue {
    font-size: 22px;
    line-height: 30px;
  }

  .showcase__card-btn--yellow {
    padding: 8px 18px;
  }

  .company__text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .company__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .grid__row {
    grid-template-columns: 1fr;
  }

  .catalog .grid__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__bottom-container {
    flex-direction: column;
  }
  .footer__logo-wrapper {
    margin-bottom: 15px;
  }
}
